<center>
	<div id="menu">
		<h3>Class: <%= @classroom.name %></h3>
		<p>Click on a student icon to set student details.</p>
	  <p><a id="edit_classroom" class="menu_item" href="/classrooms/<%= @classroom.id %>/edit">Edit Class</a> | <a id="new_classroom" class="menu_item" href="/classrooms/new">New Class</a> | <a id="delete_classroom" class="menu_item">Delete Class</a></p>
	  <p><a id="hide_menu" class="menu_item">Hide Menu</a> | <a id="toggle-names" class="menu_item">Toggle Student Names</a></p>
	 
	</div>
	<p class="mini_menu_item" style="display:none"><a id="show_menu" class="menu_item mini_menu_item" style="display:none">Show Menu</a></p><br>
  <div class="notice" id="save-notice" style="display:none"><p id="save-notice-text"></p></div><br>

  <%= render "classroom" %>

</center>
<table id="tracker_console" style="float:left;position:relative;z-index:300;display:none"></table>
<input type="hidden" name="user_id" value="1">
<script type="text/javascript">
	setLayout(<%= raw @tables %>, <%= raw @students %>);
	prepLoad();
	setTags(<%= raw @tags %>);
</script>
<input type="hidden" id="page_id" value="show_class">
<input type="hidden" id="classroom_id" value="<%= @classroom.id %>">
<input type="hidden" id="teacher_id" value="<%= @user.id %>">
<input type="hidden" id="student_images" value="<%= @student_images %>">
