<center>
	<div id="profile-div">
		<h1>User profile</h1>
		<p>Username: <%= @user.username %></p>
		<p>Email: <%= @user.email %></p>
		<div style="height:3px;width:80%;background:black"></div>
		<h2>User Classrooms</h2>
		<% @classrooms.each do |classroom| %>
			<div class="class-desc">
				<p class="class-title">Class <%= classroom.name %></p>
				<p><a href="/classrooms/<%= classroom.id %>">View Class</a> | <a href="/classrooms/<%= classroom.id %>/edit">Edit Class</a></p>
			</div>
		<% end %>
	</div>
</center>

<input type="hidden" id="page_id" value="profile">